.thankyou-text {
    width: 1381px;
    height: 365px;
    position: relative;
    top: 319px;
    left: 66px;
    font-family: Inika;
    font-size: 280px;
    font-weight: 400;
    line-height: 364.84px;
    text-align: left;
    color: rgba(139, 121, 105, 0.0509)
}

p {
    font-weight: 700;
    font-size: 30px;
    margin: 39.09px;
    position: absolute;
    top: 461px;
    left: 501px;
    width: 510px;
    height: 39px;
    font-family: Inika;
    color: #8B7969;
}

.form__button-submit {
    width: 140px;
    height: 46px;
    position: absolute;
    top: 555px;
    left: 686px;
    padding: 10px 40px;
    font-family: Inika;
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: center;
    background: #82756A;
    color: #FFFFFF;
    border: none;
}